@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Lora&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap');


body {
    background-color: linen;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* #map-container {
    position: relative;
} */

#main-map {
    height: 100vh;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: lightgoldenrodyellow;
    margin: 0
    
}

.leaflet-popup-content{
    /* padding:5px 3px 3px 3px; */
    
    color:#002640;
}

.leaflet-control-layers-toggle {
    font-family: 'Cormorant Garamond', serif;;
    font-size: 12px;
    background-color: lightsteelblue;
   
}

.leaflet-control-layers-base {
    background-image: url('icons/health.svg');
}

.card {
    background-color:  lightgoldenrodyellow  !important;
    border: 0;
    font-family: 'Roboto', sans-serif !important;
    
}

/* tests
.page {
    height:100vh;
    box-sizing: border-box;
    position: absolute;
}

#page-1 {
    background-color: aliceblue;
}

#page-2 {
    background-color: lightslategrey;
}

#page-3 {
    background-color: maroon;
}

#all-pages {
    position: relative;
}

.hidden {
    transform: translateX(-100%)
}

.show {
    transform: translateX(0);
} */