@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Lora&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap');

html {
    height: 100%;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    background-image: url("icons/circle.jpg");
    background-size: cover;
    background-position: center;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal {
    z-index: 314159;
}
/* parent container */ 

/* #all-pages {
    position: relative;
} */
/* .page {
    height: 100vh;
    box-sizing: border-box; 
    position: absolute;
    width: 100vw;
} */
/* #home {
    background-image: url("icons/crossing.jpg");
    width: 100%;
    height: 100%;
    background-color: #999;
    background-repeat:no-repeat;
    background-size:contain;
    background-blend-mode: multiply;
    transition: all .2s ease;

} */

/* .home {
    width: 100%;
    height: 100%
} */

#main-map {
    height: 100vh;
}
.navbar {
    background-color: #2c3531 !important;
}

.nav-link { 
    color: #a4a71e !important;
}
.navbar-brand {
    color: #d6ce15 !important;
}

.hidden {
    transform: translateY(100%);
    transition: transform 1s;
}

.show {
    transform: translateY(0);
    transition: transform 1s;
}

#search-tab {
    position:absolute;
    bottom: 100px;
    left: 50px;
    z-index: 314159;
    max-height: 500px;
  
}
 
#search-btn {
    margin-left: 10px;
}

/* leaflet edits */
/* .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: lightgoldenrodyellow;
    margin: 0;
    
} */

.leaflet-popup-content{   
    color:#002640;
}

.leaflet-control-layers-toggle {
    font-family: 'Cormorant Garamond', serif;
    font-size: 12px;
    background-color: #eee6c2;
    background-image: url("/icons/search.png") !important;
}

.leaflet-control-layers {
    background-color: #eee6c2;
}

/* .pointer-events {
    pointer-events: visibleStroke !important;
} */

/* .leaflet-container {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold !important;
} */

/* bootstrap edits */
.card {
    background-color:  lightgoldenrodyellow  !important;
    border: 0;
    font-family: 'Roboto', sans-serif !important;
    
}

#mainList {
    overflow: scroll;
    height: 200px;
    overscroll-behavior: contain;
}