@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=DM+Serif+Display&family=Squada+One&display=swap');


html {
    height: 100%;
}
#overlay {
    position: fixed; 
    width: 100%;
    height: 100%; 
    inset: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer;
    background-image: url("images/circle.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Black Han Sans', sans-serif;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'DM Serif Display', serif !important;
}

#main-map {
    height: 100vh;
}
.navbar {
    background-color: #F5F5F5 !important;
}

.nav-link { 
    font-family: 'DM Serif Display', serif !important;
    color: #050234 !important;
}
.navbar-brand {
    font-family: 'Black Han Sans', sans-serif;
    color: #222541 !important;
}
.nav-link { 
    font-family: 'DM Serif Display', serif !important;
    color: #050234 !important;
}
.navbar-toggler, .navbar-toggler-icon {
    color: #050234 !important;
}
.hidden {
    transform: translateY(100%);
    transition: transform 1s;
}

.shown {
    transform: translateY(0);
    transition: transform 1s;
}

/* leaflet edits */
/* .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: lightgoldenrodyellow;
    margin: 0;
    
} */

.leaflet-popup-content{   
    color:#002640;
}

.leaflet-control-layers-toggle {
    font-family: 'DM Serif Display', serif !important;
    font-size: 12px;
    background-color: #f3f2ef;
    background-image: url("/icons/search.png") !important;
}

.leaflet-control-layers {
    background-color: #f3f2ef;
}

/* .pointer-events {
    pointer-events: visibleStroke !important;
} */

/* .leaflet-container {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold !important;
} */

/* bootstrap edits */
.card {
    /* background-color:  lightgoldenrodyellow  !important; */
    border: 0;
    font-family: 'DM Serif Display', serif !important;
    
}

#mainList {
    overflow: scroll;
    height: 200px;
    overscroll-behavior: contain;
}

#info-side-bar{
    background-color: #F5F5F5;
    font-family: 'DM Serif Display', serif !important;
    /* z-index: 1030; */
    position: absolute;
    width: auto;
    left: 200px;
    bottom: 30px;
}


@media (max-width: 575.98px) { 
    
    #info-side-bar {
        overflow-y: scroll;  
        left: 0px;
        width: auto
    
    }

    ul#myTab {
        flex-wrap: nowrap;
    }
}